$red: #ff000f;
$yellow: #ffce1c;
$green: #0fff5a;
$black: #333e40;

body {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    text-align: center;
    .btn-container {
      .btn {
        padding: 8px 15px;
        color: white;
        background-color: $black;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
